<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gadmin.dao.CPGoodsMapper">
	<resultMap type="GoodDetails" id="GoodDetailsResultMap">
		<association property="cpGoods" javaType="CPGoods">
			<id column="GOODS_ID" property="GOODS_ID"/>
			<result column="TITLE" property="TITLE"/>
			<result column="BIANMA" property="BIANMA"/>
			<result column="SPTYPE_ID" property="SPTYPE_ID"/>
			<result column="SPBRAND_ID" property="SPBRAND_ID"/>
			<result column="SPUNIT_ID" property="SPUNIT_ID"/>
			<result column="DESCRIPTION" property="DESCRIPTION"/>
			<result column="SHORTDESC" property="SHORTDESC"/>
			<result column="USERNAME" property="USERNAME"/>
			<result column="ZCOUNT" property="ZCOUNT"/>
		</association>
		<association property="cpspBrand"  javaType="CPSPBrand">
			<id column="SPBRAND_ID" property="SPBRAND_ID"/>
			<result column="BNAME" property="NAME"/>
			<result column="BZ" property="BZ"/>
			<result column="USERNAME" property="USERNAME"/>
		</association>
		<association property="cpspType" javaType="CPSPType">
			<id column="SPTYPE_ID" property="SPTYPE_ID"/>
			<result column="TNAME" property="NAME"/>
			<result column="BZ" property="BZ"/>
			<result column="USERNAME" property="USERNAME"/>
		</association>
		<association property="cpspUnit" javaType="CPSPUnit">
			<id column="SPUNIT_ID" property="SPUNIT_ID"/>
			<result column="UNAME" property="NAME"/>
			<result column="BZ" property="BZ"/>
			<result column="USERNAME" property="USERNAME"/>
		</association>
	</resultMap>	
	<!--表名 -->
	<sql id="tableName">
		CP_GOODS
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TITLE,	
		BIANMA,	
		SPTYPE_ID,	
		SPBRAND_ID,	
		SPUNIT_ID,	
		DESCRIPTION,	
		SHORTDESC,	
		USERNAME,	
		GOODS_ID,
		ZCOUNT
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TITLE},	
		#{BIANMA},	
		#{SPTYPE_ID},	
		#{SPBRAND_ID},	
		#{SPUNIT_ID},	
		#{DESCRIPTION},	
		#{SHORTDESC},	
		#{USERNAME},	
		#{GOODS_ID},
		#{ZCOUNT}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="CPGoods">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="deleteById" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			GOODS_ID = #{GOODS_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="CPGoods">
		update
		<include refid="tableName"></include>
		set 
			TITLE = #{TITLE},
			BIANMA = #{BIANMA},
			SPTYPE_ID = #{SPTYPE_ID},
			SPBRAND_ID = #{SPBRAND_ID},
			SPUNIT_ID = #{SPUNIT_ID},
			DESCRIPTION = #{DESCRIPTION},
			SHORTDESC = #{SHORTDESC},
		GOODS_ID = GOODS_ID
		where 
		GOODS_ID = #{GOODS_ID}
	</update>
	
	<!-- 修改库存 -->
	<update id="editInstockById" parameterType="map">
		update
		<include refid="tableName"></include>
		set 
			ZCOUNT = #{ZCOUNT}
		where 
		GOODS_ID = #{GOODS_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="String" resultType="CPGoods">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			GOODS_ID = #{GOODS_ID}
	</select>
	
	<!-- 通过ID获取数据(查看详细信息) -->
	<select id="findDetailsById" parameterType="String" resultMap="GoodDetailsResultMap">
		select 
			a.TITLE,	
			a.BIANMA,	
			a.SPTYPE_ID,	
			a.SPBRAND_ID,	
			a.SPUNIT_ID,	
			a.DESCRIPTION,	
			a.SHORTDESC,	
			a.USERNAME,	
			a.GOODS_ID,
			a.ZCOUNT,
			b.NAME BNAME,
			C.NAME TNAME,
			d.NAME UNAME
		from 
		<include refid="tableName"></include> a
		left join cp_spbrand b
		on a.SPBRAND_ID = b.SPBRAND_ID
		left join cp_sptype c
		on a.SPTYPE_ID = c.SPTYPE_ID
		left join cp_spunit d
		on a.SPUNIT_ID = d.SPUNIT_ID
		where 
			a.GOODS_ID = #{GOODS_ID}
	</select>
	
	<!-- 列表 -->
	<select id="dataListPage" parameterType="map" resultMap="GoodDetailsResultMap">
		select
			a.TITLE,	
			a.BIANMA,	
			a.SPTYPE_ID,	
			a.SPBRAND_ID,	
			a.SPUNIT_ID,	
			a.USERNAME,	
			a.GOODS_ID,
			a.ZCOUNT,
			b.NAME BNAME,
			c.NAME TNAME,
			d.NAME UNAME
		from 
		<include refid="tableName"></include> a
		left join cp_spbrand b
		on a.SPBRAND_ID = b.SPBRAND_ID
		left join cp_sptype c
		on a.SPTYPE_ID = c.SPTYPE_ID
		left join cp_spunit d
		on a.SPUNIT_ID = d.SPUNIT_ID
		where 1=1
		<if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
			and
				(
					a.TITLE LIKE CONCAT(CONCAT('%', #{keywords}),'%')
					 or 
					a.SHORTDESC LIKE CONCAT(CONCAT('%', #{keywords}),'%') 
				)
		</if>
		<if test="USERNAME!= null and USERNAME != ''">
			and a.USERNAME = #{USERNAME}
		</if>
		<if test="SPBRAND_ID!= null and SPBRAND_ID != ''">
			and a.SPBRAND_ID = #{SPBRAND_ID}
		</if>
		<if test="SPTYPE_ID!= null and SPTYPE_ID != ''">
			and a.SPTYPE_ID = #{SPTYPE_ID}
		</if>
		<if test="isInstock != null and isInstock != ''">
			and a.ZCOUNT != 0
			order by a.ZCOUNT
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAllByUsername" parameterType="String" resultMap="GoodDetailsResultMap">
		select
			a.TITLE,	
			a.BIANMA,	
			a.SPTYPE_ID,	
			a.SPBRAND_ID,	
			a.SPUNIT_ID,	
			a.USERNAME,	
			a.GOODS_ID,
			a.ZCOUNT,
			b.NAME
		from 
		<include refid="tableName"></include> a
		left join cp_spunit b
		on a.SPUNIT_ID = b.SPUNIT_ID
		where a.USERNAME = #{USERNAME}
		order by a.ZCOUNT desc
	</select>
	
	<!-- 通过产品编码 -->
	<select id="listByUsernameAndBianma" parameterType="map" resultMap="GoodDetailsResultMap">
		select
			a.TITLE,	
			a.BIANMA,	
			a.SPTYPE_ID,	
			a.SPBRAND_ID,	
			a.SPUNIT_ID,	
			a.USERNAME,	
			a.GOODS_ID,
			a.ZCOUNT,
			b.NAME
		from 
		<include refid="tableName"></include> a
		left join cp_spunit b
		on a.SPUNIT_ID = b.SPUNIT_ID
		where a.USERNAME = #{USERNAME}
		and a.BIANMA = #{BIANMA}
		order by a.ZCOUNT desc
	</select>
	
	<!-- 批量删除 (没测试)-->
	<delete id="deleteAllByIds">
		delete from
		<include refid="tableName"></include>
		where 
			GOODS_ID in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 商品入库，增加库存 -->
	<update id="addInstockById" parameterType="map">
		update
		<include refid="tableName"></include>
		set 
			ZCOUNT = ZCOUNT + #{addCount}
		where 
			GOODS_ID = #{GOODS_ID}
	</update>
</mapper>