<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="com.gadmin.entity.SYSUser" alias="SYSUser"/>
		<typeAlias type="com.gadmin.entity.SYSRole" alias="SYSRole"/>
		<typeAlias type="com.gadmin.entity.SYSMenu" alias="SYSMenu"/>
		<typeAlias type="com.gadmin.entity.SYSButton" alias="SYSButton"/>
		<typeAlias type="com.gadmin.entity.SYSLog" alias="SYSLog"/>
		<typeAlias type="com.gadmin.entity.SYSLoginimg" alias="SYSLoginimg"/>
		<typeAlias type="com.gadmin.entity.SYSRoleButton" alias="SYSRoleButton"/>
		<typeAlias type="com.gadmin.entity.SYSDictionaries" alias="SYSDictionaries"/>
		<typeAlias type="com.gadmin.entity.SYSSms" alias="SYSSms"/>
		<typeAlias type="com.gadmin.entity.SYSUserphoto" alias="SYSUserphoto"/>
		
		<typeAlias type="com.gadmin.entity.CPGoods" alias="CPGoods"/>
		<typeAlias type="com.gadmin.entity.CPSPBrand" alias="CPSPBrand"/>
		<typeAlias type="com.gadmin.entity.CPSPType" alias="CPSPType"/>
		<typeAlias type="com.gadmin.entity.CPSPUnit" alias="CPSPUnit"/>
		
		<typeAlias type="com.gadmin.entity.ERPCustomer" alias="ERPCustomer"/>
		<typeAlias type="com.gadmin.entity.ERPCustomerimg" alias="ERPCustomerimg"/>
		<typeAlias type="com.gadmin.entity.ERPIntoku" alias="ERPIntoku"/>
		<typeAlias type="com.gadmin.entity.ERPLevel" alias="ERPLevel"/>
		<typeAlias type="com.gadmin.entity.ERPOutku_temp" alias="ERPOutku_temp"/>
		<typeAlias type="com.gadmin.entity.ERPOutku" alias="ERPOutku"/>
		<typeAlias type="com.gadmin.entity.ERPRemarks" alias="ERPRemarks"/>
		
		<typeAlias type="com.gadmin.entity.IMFGroup" alias="IMFGroup"/>
		<typeAlias type="com.gadmin.entity.IMFriends" alias="IMFriends"/>
		<typeAlias type="com.gadmin.entity.IMHismsg" alias="IMHismsg"/>
		<typeAlias type="com.gadmin.entity.IMIQGroup" alias="IMIQGroup"/>
		<typeAlias type="com.gadmin.entity.IMQGroup" alias="IMQGroup"/>
		<typeAlias type="com.gadmin.entity.IMState" alias="IMState"/>
		<typeAlias type="com.gadmin.entity.IMSysmsg" alias="IMSysmsg"/>
		<typeAlias type="com.gadmin.entity.TBPictures" alias="TBPictures"/>
		
		
		<!-- 这里添加生成的实体类 -->
		<typeAlias type="com.gadmin.entity.join.UserAndRole" alias="UserAndRole"/>
		<typeAlias type="com.gadmin.entity.join.GoodDetails" alias="GoodDetails"/>
		<typeAlias type="com.gadmin.entity.join.CustomerWithLevel" alias="CustomerWithLevel"/>
		<typeAlias type="com.gadmin.entity.join.GoodsIntoku" alias="GoodsIntoku"/>
		<typeAlias type="com.gadmin.entity.join.GroupFriends" alias="GroupFriends"/>
		<typeAlias type="com.gadmin.entity.join.GroupFriendsWithStatus" alias="GroupFriendsWithStatus"/>
		<typeAlias type="com.gadmin.entity.join.ConnectedFriends" alias="ConnectedFriends"/>
		<typeAlias type="com.gadmin.entity.join.QuickSearchFriends" alias="QuickSearchFriends"/>
		<typeAlias type="com.gadmin.entity.join.GroupMembers" alias="GroupMembers"/>
		<typeAlias type="com.gadmin.entity.join.GroupMembersDetail" alias="GroupMembersDetail"/>
		<typeAlias type="com.gadmin.entity.join.UserMsg" alias="UserMsg"/>
		
		
		<typeAlias type="com.gadmin.entity.summery.OutkuOrder" alias="OutkuOrder"/>
		<typeAlias type="com.gadmin.entity.summery.OutkuSalesReport" alias="OutkuSalesReport"/>
		
		<typeAlias type="com.gadmin.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.gadmin.util.Page" alias="Page"/>
	</typeAliases>
	
<!-- 	<plugins> -->
<!-- 		<plugin interceptor="com.fh.plugin.PagePlugin"> -->
<!-- 			<property name="dialect" value="mysql"/> -->
<!-- 			<property name="pageSqlId" value=".*listPage.*"/> -->
<!-- 		</plugin> -->
<!-- 	</plugins> -->
	
</configuration>